<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_stand.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ProfileStyle.css') }}">
</head>
<body>
 <div class="top-fixed">
        <!-- Кнопка профиля слева -->
        <a href="./AllStend.html" class="profile-btn left-btn">
            <img src="../svg/ArrowBack.svg" alt="Профиль">
        </a>

        <!-- Центр -->
        <div class="top-fixed-center">
            <img src="../svg/tbank_logo.svg" alt="Логотип" class="top-fixed-logo">
            <span class="top-fixed-title">Личный кабинет</span>
        </div>
        <a href="./Notification.html" class="profile-btn right-btn has-notifications" data-count="3">
            <img src="../svg/bell.svg" alt="Уведомления">
        </a>
    </div>

    <!-- ===== Контент ===== -->
    <div class="cabinet-container">
        <h2>Стенды, которые предстоит посетить:</h2>
        <div class="stand-list">

            <div class="stand-card">
                <div class="stand-info">
                    <p class="stand-title">Стенд IT-проекты</p>
                    <p class="stand-time">12:00 – 14:00</p>
                </div>
                <button class="unsubscribe-btn">Отписаться</button>
            </div>

            <div class="stand-card">
                <div class="stand-info">
                    <p class="stand-title">Стенд Наука</p>
                    <p class="stand-time">15:00 – 17:00</p>
                </div>
                <button class="unsubscribe-btn">Отписаться</button>
            </div>

            <div class="stand-card">
                <div class="stand-info">
                    <p class="stand-title">Стенд Бизнес-идеи</p>
                    <p class="stand-time">17:30 – 19:00</p>
                </div>
                <button class="unsubscribe-btn">Отписаться</button>
            </div>

        </div>
    </div>
</body>
</html>
